name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run Simple Interest Script
      run: |
        chmod +x simple-interest.sh
        ./simple-interest.sh 1000 5 2
